#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.theme1 {
  background-color: white;
}

.theme2 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Flag_of_France_%28lighter_variant%29.svg/250px-Flag_of_France_%28lighter_variant%29.svg.png);
  background-size: contain;
}

.active,
.dot:hover {
  background-color: #717171;
}

.dot {
  transition: background-color 0.6s ease;
}

.footerimage {
  background-image: url(https://c.tenor.com/Qsc8HslGhVEAAAAM/paris-dusan.gif);
  height: 20vh;
}

.headerheaderthing {
  background-image: url(https://i.ytimg.com/vi/BZLZyX3JdEM/maxresdefault.jpg);
}

.map {
  max-height: 40rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.attractions {
  position: relative;
  top: -8rem;
}

.tred {
  display: none;
}

.hide {
  --tw-translate-y: -40rem;
  --tw-translate-x: -30rem;
  display: none;
}

.regionname:hover + .hide {
  display: block;
}

.regionname {
  font-size: 15px;
  --tw-translate-x: 14.1rem;
}

.hide1 {
  display: none;
  --tw-translate-y: -40rem;
  --tw-translate-x: -30rem;
}

.regionname1:hover + .hide1 {
  display: block;
}

.regionname1 {
  --tw-translate-y: -37.4rem;
  font-size: 13px;
}

.hide2 {
  display: none;
  --tw-translate-y: -40rem;
  --tw-translate-x: -30rem;
}

.regionname2:hover + .hide2 {
  display: block;
}

.hide3 {
  display: none;
}

.regionname3:hover + .hide3 {
  display: block;
}

.hide4 {
  display: none;
}

.regionname4:hover + .hide4 {
  display: block;
}

.regionname4 {
  font-size: 12px;
}

.regionname5 {
  font-size: 14px;
  --tw-translate-x: 28rem;
}

.hide5 {
  display: none;
}

.regionname5:hover + .hide5 {
  display: block;
}

.regionname6 {
  font-size: 14px;
  transform: translate(26.5rem, -26.5rem);
}

.hide6 {
  display: none;
}

.regionname6:hover + .hide6 {
  display: block;
}

.regionname7 {
  font-size: 17px;
  transform: translate(32.35rem, -15.3rem);
}

.hide7 {
  display: none;
}

.regionname7:hover + .hide7 {
  display: block;
}

.hide8 {
  display: none;
}

.regionname8:hover + .hide8 {
  display: block;
}

.regionname8 {
  transform: translate(28.3rem, -36.5rem);
  font-size: 12px;
}

.regionname9 {
  transform: translate(22.5rem, -38rem);
  font-size: 20px;
}

.hide9 {
  display: none;
}

.regionname9:hover + .hide9 {
  display: block;
}

.regionname10 {
  transform: translate(20.5rem, -34rem);
  font-size: 15px;
}

.hide10 {
  display: none;
}

.regionname10:hover + .hide10 {
  display: block;
}

.regionname11 {
  transform: translate(16.5rem, -35.5rem);
}

.hide11 {
  display: none;
}

.regionname11:hover + .hide11 {
  display: block;
}

.regionname12 {
  transform: translate(11.5rem, -39rem);
}

.hide12 {
  display: none;
}

.regionname12:hover + .hide12 {
  display: block;
}

.regionname13 {
  transform: translate(10rem, -47.5rem);
}

.hide13 {
  display: none;
}

.regionname13:hover + .hide13 {
  display: block;
}

.regionname14 {
  transform: translate(4.5rem, -53rem);
}

.hide14 {
  display: none;
}

.regionname14:hover + .hide14 {
  display: block;
}

.regionname15 {
  transform: translate(10.5rem, -58rem);
}

.hide15 {
  display: none;
}

.regionname15:hover + .hide15 {
  display: block;
}

.regionname16 {
  transform: translate(14.5rem, -62.2rem);
  font-size: 14px;
}

.hide16 {
  display: none;
}

.regionname16:hover + .hide16 {
  display: block;
}

.regionname17 {
  transform: translate(18rem, -61.5rem);
  font-size: 13px;
}

.hide17 {
  display: none;
}

.regionname17:hover + .hide17 {
  display: block;
}

.hide18 {
  display: none;
}

.regionname18:hover + .hide18 {
  display: block;
}

.hide19 {
  display: none;
}

.regionname19:hover + .hide19 {
  display: block;
}

.hide20 {
  display: none;
}

.regionname20:hover + .hide20 {
  display: block;
}

.hide21 {
  display: none;
}

.regionname21:hover + .hide21 {
  display: block;
}

.hide22 {
  display: none;
}

.regionname22:hover + .hide22 {
  display: block;
}

.regionimg {
  max-height: 30rem;
  max-width: 40rem;
  border-radius: 20%;
}

@media (max-width: 1000px) {
  .meal {
    width: 51%;
    margin-bottom: 144px;
  }
}

@media (max-width: 1000px) {
  .food {
    margin-bottom: 0px;
  }
}
@media (min-width: 800px) (max-width: 999px) {
  .foodimage {
    width: 25rem;
  }
}
@media (min-width: 800px) (max-width: 999px) {
  .foodimage {
    width: 25rem;
  }
}
@media (min-width: 1690px) {
  .footerimage:hover {
    --tw-scale-x: 8.7;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: 0.1s;
  }
}
